@charset "utf-8";
/* CSS Document */
/*--------------------------parallax--------------------------*/
body, html {
    height: 100%;
	padding:0px;
	margin:auto;
}
.parallax{
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.a {
    background-image:url('img/a.jpg');   
}
.b {
    background-image: url('img/b.jpg');
}
.c {
    background-image: url('img/c.jpg');
}
.d {
    background-image: url('img/d.jpg');
}
.e {
    background-image: url('img/e.jpg');
}

